.bg-container {
    background-color: bisque;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.congrats-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 90%;
    width: 90%;
}

.name {
    font-family: serif;
    font-weight: bold;
    font-size: 30px;
}

.para {
    font-weight: italic;
    font-family: 'Times New Roman';
    font-size: 20px;
    font-weight: bold;
}
.heading {
    text-align: center;
}

.img {
    height: 70%;
    width: 70%;
    border-radius: 10%;
}